<a href="./film_pandorum.html" class="content-cards__item">
    <div class="content-cards__item--img">
        <img src="/home/arvasily/Документы/netkliks-app/public/images/pandorum.jpg" alt="pandorum">
    </div>
    <div class="content-cards__item--title">
        <h5>Пандорум,</h5>
        <span>Pandorum 2009</span>
    </div>
    <p class="content-cards__item--description">
        ужасы, фантастика, боевик, триллер, детектив
    </p>
    <p class="content-cards__item--rating">
        7.1
    </p>
</a>